[Desktop Entry]
Version=1.0
Type=Application
Name=settings
Comment=Flutter Application - settings
Exec=/usr/bin/settings
Icon=/usr/share/icons/hicolor/256x256/apps/settings.png
Terminal=false
Categories=Settings;
